<!DOCTYPE html>
<html>
    <head>
        <title> 
            Welcome to the TestApp
        </title>
        <link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
    </head>
    <body>

        <div class=" container-fluid text-center border">

            <h1 class="display-1">
                Hello, please login with your VK account
            </h1>
            
            <p>
                <a href="/login/vk-oauth2"><img src="https://lh3.googleusercontent.com/proxy/blpYljB1hXBS-jPeUy_Q9bsbVAGcX65crenLGnA26vrWwmwUxvnhH_ON3ZKbktOeOVIGgzvAqN1ZQUsHNTUE97daoKvdOC136OURf49x8qOW" data-toggle="tooltip"></a>
            </p>
            

           
            
        </div>
    </body>
</html>